%div.flex.justify-between.items-center.mb-4
  %h1.font-bold Teams
  = link_to 'Add Team', new_team_path, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"

.relative.overflow-x-auto
  %table.w-full.text-sm.text-left.rtl:text-right.text-gray-500.dark:text-gray-400
    %thead.text-xs.text-gray-700.uppercase.bg-gray-50.dark:bg-gray-700.dark:text-gray-400
      %tr
        %th.px-6.py-3{scope: "col"} #
        %th.px-6.py-3{scope: "col"} Name
        %th.px-6.py-3{scope: "col"} Description
        %th.px-6.py-3{scope: "col"} Owner
        %th.px-6.py-3{scope: "col"} Actions
    %tbody
      - @teams.each_with_index do |team, idx|
        %tr.bg-white.border-b.dark:bg-gray-800.dark:border-gray-700
          %td.px-6.py-4= idx + 1
          %td.px-6.py-4= team.name
          %td.px-6.py-4= team.description
          %td.px-6.py-4= team.owner&.full_name
          %td.px-6.py-4.inline-flex
            = link_to 'Edit', edit_team_path(team), class: "text-blue-600 hover:text-blue-900"
            |
            = button_to 'Delete', team_path(team), method: :delete, data: { confirm: 'Are you sure?' }, class: "text-red-600 hover:text-red-900"
